CS2_HOSTNAME=Example CS2 Server
CS2_MAP=de_dust2
CS2_PORT=27015
CS2_MAXPLAYERS=16
CS2_GSLT=CHANGE_ME
RCON_PASSWORD=CHANGE_ME
CS2_CFG_FILE=server.cfg
CS2_PLUGINS=metamod,counterstrikesharp
CSS_ADMINS_FILE=./output/admins.json
CSS_GROUPS_FILE=./output/admin_groups.json
